/*_____________________________________________ Start - Projects - jCarouselLiteDemo _____________________________________________*/

 .carousel  {
    padding: 10px 0 0 0;
    margin: 0 0 20px 10px;
    position: relative;     
}
     .digg {
        position: absolute;
        left: 610px;
        top: 110px;
    }
     .main {
        margin-left: 40px;
    }

     .demo em {
        color: #FF3300;
        font-weight: bold;
        font-size: 60%;        
        font-style: normal;
    }
     .carousel button { /*Don't remove this. we still use this for individual demos. only the front pages use images as of now*/
        float: left;
    }              
     .carousel a.prev, .carousel a.next {
        display: block;
        float: left;
        width: 30px;
        height: 143px;
        text-decoration: none;
        background: #eef;
    }
             .carousel a.next:hover {
                
            }
             .carousel a.prev:hover {
                
            }    

     .carousel .jCarouselLite {
        float: left;
        
        /* Needed for rendering without flicker */
        position: relative;
        visibility: hidden;
        left: -5000px;
    }
         .carousel ul {
            margin: 0;
        }
         .carousel li img, 
         .carousel li p {
            width: 100px;
            margin: 10px;
        }
        
         .widget img {
            cursor: pointer;
        }
             .mid {
                margin-left: 80px;
                width: 400px;
                height: 300px;
            }
             .vertical {
                margin-left: 170px;
            }
                 .vertical .jCarouselLite {   /* so that in IE 6, the carousel div doesnt expand to fill the space */
                    width: 170px;
                }
             .imageSlider li img, 
             .imageSlider li p, 
             .imageSliderExt li img , 
             .imageSliderExt li p {
                width: 400px;
                height: 300px;
            }
            
/*_____________________________________________ End - Projects - jCarouselLiteDemo _____________________________________________*/
