uhtml, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -50px;
}

footer, #push {
    height: 50px;
}

body {
    font: normal normal normal 11px/16px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    overflow: 0;
    background: #8ec2da;
}

.no-border {
    border: none !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

a {
    color: rgba(0, 82, 133, 1);
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

abbr, acronym {
    font-size: 85%;
    letter-spacing: .1em;
    text-transform: uppercase;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

abbr[title], acronym[title], dfn[title] {
    border-bottom: 1px dotted #CCC;
    cursor: help;
}

code, kbd, samp, pre, tt, var, .code {
    font-family: Monaco, 'Panic Sans', 'Lucida Console', 'Courier New', Courier, monospace, sans-serif;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

h6 {
    font-size: 11px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1em 0;
}

h1, h2, h3 {
    color: #000;
}

h4, h5, h6 {
    color: #444;
    font-weight: 400;
}

h6, p {
    color: #676767;
}

ul, ol {
    padding-left: 2em;
}

li ul, li ol, ul ul, ol ol, dl dd {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}

small, sup, sub {
    font-size: 80%;
}

.code {
    background-color: #EAEFF4;
    color: #069;
    overflow: auto;
    padding: 2px 6px;
}

.al {
    text-align: left !important;
}

.ar {
    text-align: right !important;
}

.ac {
    text-align: center !important;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

body.login {
    height: 0;
    overflow: hidden;
}

.login-box {
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 350px;
    margin: 0 auto !important;
}

.login-box form {
    border-bottom: 1px solid #DDD;
    margin: 10px 0;
}

.login-box.main-content {
    min-height: 0;
}

#promo {
    border-bottom: 1px solid #000;
    background: 0;
    -pie-background: linear-gradient(top, #f9d835, #f3961c);
    padding: 10px 0;
}

#promo p {
    color: #fff;
    line-height: 26px;
    text-shadow: 0 1px 0 #000;
    margin: 0;
}

#promo .close {
    color: #e83;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
    padding: 1px 5px;
}

#wrapper>header {
    /*    background: rgba(38,38,38,1) url(../pelangi.png) bottom repeat-x;*/
    background: rgba(38,38,38,1) url(../images/header-backround.png) repeat-x;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    zoom: 1px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.699219) 0px 0px 5px 1px;
    -moz-box-shadow:rgba(0, 0, 0, 0.699219) 0px 0px 5px 1px;
    box-shadow:rgba(0, 0, 0, 0.699219) 0px 0px 5px 1px;
}

#wrapper>header h1 {
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 1px 1px #000;
}

#wrapper>header h1 a {
    color: #fff;
    text-decoration: none;
}

#wrapper>header nav {
    /*    background: transparent url(../images/line_vert.png) repeat-y top left;*/
}

#wrapper>header nav>ul {
    padding-left: 10px;
}

#wrapper>header nav>ul>li {
    display: block;
    float: left;
    position: relative;
    padding: 0 1px 0 5px;
}

#wrapper>header nav>ul>li a {
    color: #eee;
    display: block;
    font-size: 13px;
    line-height: 37px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    padding: 0 5px 0 10px;
}

#wrapper>header nav>ul li:hover>a {
    color: #fff;
    text-shadow:rgba(255, 255, 255, 0.808594) 0px 0px 5px;
}

#wrapper>header nav>ul>li:hover:not(.action)>a {
    background: 0;
    -pie-background: linear-gradient(top, #555, #222);
}

#wrapper>header nav>ul>li.active {
    color: #fff;
    font-weight: 700px;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,color-stop(0.01,rgba(255,231,112,0.984375)),color-stop(0.15,rgba(255,192,46,0.05)),to(rgba(0,0,0,0)));
    background-image:-moz-linear-gradient(top,rgba(255,231,112,0.984375) 1%,rgba(255,192,46,0.05) 15%,rgba(0,0,0,0) 100%);
    background-image:-o-linear-gradient(top,rgba(255,231,112,0.984375) 1%,rgba(255,192,46,0.05) 15%,rgba(0,0,0,0) 100%);
    background-image:-ms-linear-gradient(top,rgba(255,231,112,0.984375) 1%,rgba(255,192,46,0.05) 15%,rgba(0,0,0,0) 100%);
}

#wrapper>header nav>ul>li.action {
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 6px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin-right: 4px;
}

#wrapper>header nav>ul>li.action>a.button {
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    border: 1px solid #111;
    padding: 4px 10px;
}

#wrapper>header nav>ul>li>a span.arrow-down {
    background: transparent url(../images/arrows.png) no-repeat 0 -103px;
    display: inline-block;
    height: 6px;
    margin-left: 8px;
    width: 10px;
}

#wrapper>header nav>ul>li:hover>a span.arrow-down {
    background: transparent url(../images/arrows.png) no-repeat -10px -103px;
}

#wrapper>header nav>ul ul {
    background: #191919;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    display: none;
    padding-bottom: 5px;
    position: absolute;
    width: 150px;
    z-index: 999;
    -moz-box-shadow: 0 2px 2px #777;
    -webkit-box-shadow: 0 2px 2px #777;
    -khtml-box-shadow: 0 2px 2px #777;
    box-shadow: 0 2px 2px #777;
}

#wrapper>header nav>ul ul li a {
    line-height: 30px;
    padding: 0 10px;
}

#wrapper>header nav>ul ul li a:hover {
    background: #434343;
}

#wrapper>section {
    padding-top: 60px;
}

.has-promo #wrapper>section {
    padding-top: 110px;
}

.main-section {
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.main-section .content {
    padding: 20px 20px 20px 0;
}

.main-content {
    background: #fff;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    min-height: 420px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}
.sidebar-content {
    background: #fff;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    min-height: 100px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}

.main-content>header, .sidebar-content>header  {
    background: #eee;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(247,253,255,0.99)),to(rgba(195,219,230,0.99)));
    background-image:-moz-linear-gradient(top,rgba(247,253,255,0.99) 0%,rgba(195,219,230,0.99) 100%);
    background-image:-o-linear-gradient(top,rgba(247,253,255,0.99) 0%,rgba(195,219,230,0.99) 100%);
    background-image:-ms-linear-gradient(top,rgba(247,253,255,0.99) 0%,rgba(195,219,230,0.99) 100%);
    border-bottom: 1px solid #999;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 1px #bbb;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px #bbb;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 1px 1px #bbb;
    -khtml-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -pie-box-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.main-content>header.right, .sidebar-content>header.right {
    background: #eee;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(195,219,230,0.988281)),color-stop(0.93,rgba(247,253,255,0.988281)));
    background-image:-moz-linear-gradient(top,rgba(195,219,230,0.988281) 0%,rgba(247,253,255,0.988281) 93%);
    background-image:-o-linear-gradient(top,rgba(195,219,230,0.988281) 0%,rgba(247,253,255,0.988281) 93%);
    background-image:-ms-linear-gradient(top,rgba(195,219,230,0.988281) 0%,rgba(247,253,255,0.988281) 93%);
    border-bottom-width:0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.199219) 0px -1px 1px 0px;
    -moz-box-shadow:rgba(0, 0, 0, 0.199219) 0px -1px 1px 0px;
    box-shadow:rgba(0, 0, 0, 0.199219) 0px -1px 1px 0px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.main-content>header h2 {
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    margin: 0;
    display: inline-block;
    padding: 15px 30px;
}
.main-content>header .header-button {
    float: right;
    padding: 6px 10px 0 0;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.sidebar-content>header h2 {
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    margin: 0;
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
}
.sidebar-content>header h2.button-container {
    padding: 0;
    margin: 0;
    height: 23px;
}
.sidebar-content>header h2 li {
    float: left;
    border: none;
    padding: 5px 20px;
    width: 112px;
    border-left: 1px solid #aac;
    text-align: center;
}
.sidebar-content>header h2 li.first {
    border: none;
    border-radius: 5px 0 0 0;
}
.sidebar-content>header h2 li:hover {

}
.sidebar-content>header h2 li a {
    text-decoration: none;
    font-size: 14px;
}
.sidebar-content>header .header-button {
    float: right;
    padding: 6px 10px 0 0;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.header-button span {
    position: absolute;
    display: block;
    top: -5px;
    right: 0;
    z-index: 101;
    font-size: 9px;
    background-color:rgba(255, 255, 255, 0.9);
    -webkit-border-radius:8px 8px 8px 0;
    -moz-border-radius:8px 8px 8px 0;
    border-radius:8px 8px 8px 0;
    border-bottom: 1px solid lightsteelblue;
    border-left: 1px solid lightsteelblue;
    padding: 0 3px;
    min-width: 10px;
    text-align: center;
}

.sidebar-content>header h2 {
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    margin: 0;
    padding: 8px 10px;
}
.sidebar-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-content li {
    padding: 5px 0 2px 10px;
    border-top: 1px dotted #aaa;
}
li.first {
    border-top: none;
}
.sidebar-content li img{
    display: inline-table;
}
.sidebar-content li div{
    display: inline-table;
    vertical-align: top;
}
.sidebar-content li h4{
    margin: 5px 5px;
    font-weight: bold;
}
.sidebar-content li p{
    margin: 5px 5px;
}
.sidebar-content .total{
    text-decoration: none;
    padding: 8px 15px 8px 8px;
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow:rgba(230, 230, 230, 1) 0px 1px 0px;
    background: rgb(195,219,230);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(247,253,255,0.988281)),to(rgba(195,219,230,0.988281)));
    background-image:-moz-linear-gradient(top,rgba(247,253,255,0.988281) 0%,rgba(195,219,230,0.988281) 100%);
    background-image:-o-linear-gradient(top,rgba(247,253,255,0.988281) 0%,rgba(195,219,230,0.988281) 100%);
    background-image:-ms-linear-gradient(top,rgba(247,253,255,0.988281) 0%,rgba(195,219,230,0.988281) 100%);
    text-align: right;
    color: #343;
}
.sidebar-content .bottom-button{
    padding: 8px 15px 8px 8px;
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow:rgba(230, 230, 230, 1) 0px 1px 0px;
    background: rgb(195,219,230);
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(247,253,255,0.988281)),to(rgba(195,219,230,0.988281)));
    background-image:-moz-linear-gradient(top,rgba(247,253,255,0.988281) 0%,rgba(195,219,230,0.988281) 100%);
    background-image:-o-linear-gradient(top,rgba(247,253,255,0.988281) 0%,rgba(195,219,230,0.988281) 100%);
    background-image:-ms-linear-gradient(top,rgba(247,253,255,0.988281) 0%,rgba(195,219,230,0.988281) 100%);
    color: #343;
}
.sidebar-content .bottom-widget-form {
    padding: 8px 15px 8px 8px;
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow:rgba(230, 230, 230, 1) 0px 1px 0px;
    background: rgb(195,219,230);
    color: #343;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
}
.sidebar-content .top-widget-form {
    padding: 8px 15px 8px 10px;
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow:rgba(230, 230, 230, 1) 0px 1px 0px;
    color: #343;
    display: inline-block;
}
.sidebar-content .top-widget-form label{
    min-width: 60px;
    display: inline-block;
    font-size: 12px;
    font-family: Verdana, Arial, Georgia;
    vertical-align: top;
    text-align: left;
    padding-top: 4px;
}
#profile .bottom-widget-form {
    padding: 8px 15px 8px 8px;
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: 400;
    font-size: 16px;
    text-shadow:rgba(230, 230, 230, 1) 0px 1px 0px;
    background: rgb(195,219,230);
    color: #343;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    min-width: 300px;
    position:relative;
    /*    -webkit-box-shadow:rgba(166, 166, 166, 0.988281) 0px 1px 5px 1px;
        -moz-box-shadow:rgba(166, 166, 166, 0.988281) 0px 1px 5px 1px;
        box-shadow:rgba(166, 166, 166, 0.988281) 0px 1px 5px 1px;*/
}
#profile .bottom-widget-form label{
    min-width: 60px;
    display: inline-block;
    font-size: 12px;
    font-family: Verdana, Arial, Georgia;
    vertical-align: top;
    text-align: left;
    padding-top: 4px;
}
#profile .bottom-widget-form select,
#profile .bottom-widget-form input,
#profile .bottom-widget-form textarea{
    margin-bottom: 5px;
}
#profile .bottom-widget-form select {
    min-width: 100px;
}
.main-content>header .avatar {
    background: #fff url(../images/user_32.png) no-repeat center center;
    -moz-box-shadow: 0 0 3px #777;
    -webkit-box-shadow: 0 0 3px #777;
    -khtml-box-shadow: 0 0 3px #777;
    box-shadow: 0 0 3px #777;
    display: block;
    float: left;
    height: 60px;
    margin-right: 10px;
    width: 60px;
}

.main-content>header .tags {
    background: transparent url(../images/icons/tag_blue.png) no-repeat 0 0;
    float: left;
    padding-left: 20px;
    margin: 0;
}

.main-content>header .view-switcher {
    font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    position: relative;
}

.main-content>header .view-switcher>h2>a {
    background: transparent url(../images/arrow-updown.png) no-repeat center center;
    display: inline-block;
    text-indent: -999em;
    width: 10px;
    height: 17px;
}

.main-content>header .view-switcher ul {
    background: #dedeff;
    border: 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: none;
    list-style-type: none;
    position: absolute;
    z-index: 999;
    top: -12px;
    left: -1px;
    min-width: 160px;
    margin: -10px -20px;
    padding: 10px 20px;
}

.main-content>header .view-switcher ul li.separator {
    border-bottom: 1px solid #999;
    margin: 10px 0;
}

.main-content>header .view-switcher ul li a {
    color: #222;
    display: block;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    margin: 0 -20px;
    padding: 0 20px;
}

.main-content>header .view-switcher ul li a:hover {
    background: #afd4e6;
}

.main-content>header .action-buttons {
    position: relative;
    top: -4px;
    z-index: 999;
}

.main-content>section {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 20px 10px;
}

.main-content>section.container_6 {
    padding: 20px;
}

.main-content>section hgroup {
    margin-top: 10px;
}

.main-content>section hgroup h2 {
    padding-top: 10px;
    line-height: 1.3em;
    text-transform: uppercase;
    margin: 0 0 3px;
}

.main-content>section hgroup h4 {
    line-height: 1.4em;
    margin: 0 0 30px;
}

.main-content>section .other-options h3 {
    color: #555;
    border-bottom: 1px dotted #999;
    padding-bottom: 5px;
}

.main-content>section .other-options h4 {
    margin-bottom: 0;
}

.list-view {
    border-top: 1px solid rgba(181,181,181,0.99);
    font-size: 12px;
    margin-left: -30px;
    margin-right: -30px;
}

.list-viewVideo {
    border-top: 1px solid rgba(181,181,181,0.99);
    font-size: 12px;
    margin-left: -30px;
    margin-right: -30px;
}

.list-view>li {
    border-bottom: 1px solid rgba(181,181,181,0.99);
    position: relative;
    zoom: 1px;
    padding: 10px 30px 10px 32px;
}

.list-viewomega3>li {
    border-bottom: 1px solid rgba(181,181,181,0.99);
    position: relative;
    zoom: 1px;
    padding:10px 0px 10px 0px;
}

.list-view>li.contact {
    background: transparent url(../images/icons/vcard.png) no-repeat 30px 10px;
}

.list-view>li.company {
    background: transparent url(../images/icons/building.png) no-repeat 30px 10px;
}

.list-view>li.note {
    background: transparent url(../images/icons/note.png) no-repeat 30px 10px;
}

.list-view>li.tick {
    background: transparent url(../images/icons/tick.png) no-repeat 30px 10px;
}

.list-view>li.calendar {
    background: transparent url(../images/icons/calendar.png) no-repeat 30px 10px;
}

.list-view>li:hover {
    background-color: #fafafa;
}

.list-view>li.current {
    background-color: #f1f1f1;
}

.list-view>li .more {
    background: #bcf url(../images/arrow-right.png) no-repeat center center;
    display: block;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: -999em;
    visibility: hidden;
}

.list-view>li .timestamp {
    color: #555;
    float: right;
    font-size: 9px;
}

.list-view>li p {
    color: #111;
    margin: 0;
}

.list-view>li .entry-meta {
    color: #555;
    margin-left: 37px;
}

.list-view>li .avatar {
    border: 1px solid #ddd;
    float: left;
    height: 33px;
    margin-right:2px;
    width: 33px;
}

.list-view>li .avatar img {
    width: 33px;
    height: 33px;
}

.list-view>li .avatarbook {
    border: 1px solid #ddd;
    float: left;
    height: 65px;
    margin-right: 4px;
    width: 55px;
}

.list-view>li .avatarvideo {
    float: left;
    height: 62px;
    margin-right: 4px;
    width: 55px;
}

.list-view>li .avatarbookfront {
    border: 1px solid #ddd;
    float: left;
    height: 80px;
    margin-right: 4px;
    width: 65px;
}

.list-view>li .avatarbook img {
    width: 32px;
    height: 32px;
}

.grid-view li {
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    -khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    float: left;
    position: relative;
    width: 180px;
    margin: 5px;
    padding: 5px;
}

.grid-view>li .more {
    background: #bcf url(../images/arrow-right.png) no-repeat center center;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -khtml-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    display: block;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: -999em;
    visibility: hidden;
}

.grid-view li .timestamp {
    position: absolute;
    bottom: 0;
    right: 15px;
    display: block;
    font-size: 9px;
}

.grid-view li .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-view li .avatar {
    border: 1px solid #ddd;
    float: left;
    height: 60px;
    margin-right: 4px;
    width: 60px;
}

.grid-view>li .avatar img {
    width: 60px;
    height: 60px;
}

.listing>li.contact .avatar {
    background: transparent url(../images/user_32.png) no-repeat center center;
}

.listing>li.company .avatar {
    background: transparent url(../images/users_business_32.png) no-repeat center center;
}

.preview-pane {
    position: relative;
    z-index: 0;
}

.preview-pane .preview {
    background: #fcfcfc;
    display: block;
    top: 0;
    left: -370px;
    position: absolute;
    height: 350px;
    width: 310px;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -moz-box-shadow: 0 2px 2px #777;
    -webkit-box-shadow: 0 2px 2px #777;
    -khtml-box-shadow: 0 2px 2px #777;
    box-shadow: 0 2px 2px #777;
    padding: 20px;
}

.profile-info li {
    padding-left: 24px;
    line-height: 2em;
}

.profile-info li span {
    color: #777;
    float: right;
    font-size: 9px;
}

.profile-info li.email {
    background: transparent url(../images/icons/email.png) no-repeat 0 50%;
}

.profile-info li.mobile {
    background: transparent url(../images/icons/phone.png) no-repeat 0 50%;
}

.profile-info li.phone {
    background: transparent url(../images/icons/telephone.png) no-repeat 0 50%;
}

.profile-info li.calendar-day {
    background: transparent url(../images/icons/calendar_view_day.png) no-repeat 0 50%;
}

.profile-info li.building {
    background: transparent url(../images/icons/building.png) no-repeat 0 50%;
}

.profile-info li.house {
    background: transparent url(../images/icons/house.png) no-repeat 0 50%;
}

#wrapper>section>div>aside nav {
    margin-right: -20px;
    padding: 10px 0;
}

#wrapper>section>div>aside nav>h4 {
    color: #333;
    font-size: 10px;
    font-weight: 700;
    margin-top: 0;
    padding-left: 8px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

#wrapper>section>div>aside nav>ul>li {
    float: left;
    width: 100%;
}

#wrapper>section>div>aside nav>ul>li a {
    color: #333;
    display: block;
    font-size: 11px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    line-height: 16px;
    padding: 5px 4px 5px 8px;
}

#wrapper>section>div>aside nav>ul>li>a:hover {
    background: rgba(255, 255, 255, 0.15);
}

#wrapper>section>div>aside nav>ul>li.active>a {
    background: rgba(255, 255, 255, 0.3);
    color: #111;
    font-weight: 700;
    border-right: 5px solid black;
}

#wrapper>section>div>aside nav>ul>li a h5, #wrapper>section>div>aside nav>ul>li a h6 {
    line-height: 140%;
    margin: 0;
}

#wrapper>section>div>aside nav>ul>li a h5 {
    margin-bottom: 3px;
}

#wrapper>section>div>aside nav>ul>li a h6 {
    font-size: 9px;
    text-shadow: none;
}

#wrapper>section>div>aside nav.global>ul>li>a span {
    background: #def;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    float: right;
    font-size: 9px;
    font-weight: 400;
    margin-right: 2px;
    padding: 0 4px;
}

#wrapper>section>div>aside nav.subnav {
    background: transparent url(../images/line.png) repeat-x top left;
}

#wrapper>section>div>aside nav>ul>li a.nav-icon {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.icon-book {
    background-image: url(../images/icons/book.png) !important;
}

.icon-house {
    background-image: url(../images/icons/house.png) !important;
}

.icon-note {
    background-image: url(../images/icons/note.png) !important;
}

.icon-tick {
    background-image: url(../images/icons/tick.png) !important;
}

.icon-time {
    background-image: url(../images/icons/time.png) !important;
}

.icon-photo {
    background-image: url(../images/icons/photo.png) !important;
}

.icon-feed {
    background-image: url(../images/icons/application_view_list.png) !important;
}

.icon-user {
    background-image: url(../images/icons/user.png) !important;
}

.icon-calendar {
    background-image: url(../images/icons/calendar.png) !important;
}

.icon-update {
    background-image: url(../images/icons/arrow_refresh.png) !important;
}

.icon-editprofil {
    background-image: url(../images/icons/vcard_edit.png) !important;
}

.icon-email {
    background-image: url(../images/icons/email.png) !important;
}

.icon-group {
    background-image: url(../images/icons/group.png) !important;
}

.icon-pages {
    background-image: url(../images/icons/layout_content.png) !important;
}

.icon-documents {
    background-image: url(../images/icons/book_open.png) !important;
}

.icon-videos {
    background-image: url(../images/icons/film.png) !important;
}

.icon-podcast {
    background-image: url(../images/icons/sound.png) !important;
}

.icon-mydocs {
    background-image: url(../images/icons/package.png) !important;
}

.icon-bookmark {
    background-image: url(../images/icons/package_link.png) !important;
}

.icon-sharedocs {
    background-image: url(../images/icons/package_share.png) !important;
}

.icon-classroom {
    background-image: url(../images/icons/door_open.png) !important;
}

.icon-box {
    background-image: url(../images/icons/box.png) !important;
}

.icon-channel {
    background-image: url(../images/icons/television.png) !important;
}

.icon-tune {
    background-image: url(../images/icons/transmit.png) !important;
}

body>footer {
    background-color: rgba(38,38,38,1);
    -pie-background: linear-gradient(top, #111 0, #434343 10%, #222 100%);
    color: #ddd;
    font-size: 10px;
    text-shadow: 0 0px 0px #000;
    height: 50px;
}

#footer-inner {
    border-top: 1px solid #000;
    line-height: 45px;
}

.apple_overlay {
    display: none;
    background-image: url(../images/overlay/white.png);
    width: 640px;
    font-size: 11px;
    padding: 35px;
}

.apple_overlay .close {
    background-image: url(../images/close-icon.png);
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.apple_overlay.black {
    background-image: url(../images/overlay/transparent.png);
    color: #fff;
}

*, .no-margin, .main-content>header h4 {
    margin: 0;
}

.no-padding, nav>ul, #wrapper>header nav ul {
    padding: 0;
}

h5, .main-content>header .view-switcher ul li {
    font-size: 12px;
}

h1, h2, h3, b, strong, caption, th, thead, dt, legend, .list-view>li a {
    font-weight: 700;
}

.login-box ul, .main-content>section .other-options ul, .listing, .profile-info {
    list-style-type: none;
    padding: 0;
}

#wrapper>header nav>ul li:hover ul, #wrapper>section>div>aside nav>ul {
    display: block;
}

#wrapper>header form input[type=text], #wrapper>header form input[type=password] {
    background: #777;
    border: 1px solid #191919;
    margin-top: 7px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -khtml-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

#wrapper>header form input[type=text]:hover, #wrapper>header form input[type=password]:hover {
    background: #888;
}

#wrapper>header form input[type=text]:focus, #wrapper>header form input[type=password]:focus {
    background: #eee;
}

.main-section .content h3:first-child, .main-content>section .other-options h4+p, .preview-pane .preview>h3:first-child, .preview-pane .preview>h4:first-child {
    margin-top: 0;
}

.main-content>header .tags a, .grid-view li .entry-meta {
    font-size: 9px;
}

.list-view>li .more:hover, .grid-view>li .more:hover {
    cursor: pointer;
}

.list-view>li:hover .more, .grid-view>li:hover .more {
    visibility: visible;
}

.list-view>li.current .more, .grid-view>li.current .more {
    background-image: url(../images/arrow-left.png);
    visibility: visible;
}

.list-view>li .in {
    margin-left: 37px;
}

.list-view>li .fill {
    width: 360px;
    float: left;
}

.list-view>li .komentar {
    width: 300px;
    float: left;
}

.list-view>li>input {
    width: 350px;
    margin-left: 37px;
    margin-bottom: 5px;
}

table {
    background-color: #eef0f0;
    padding: 0;
    width: 91%;

}

table td {
    padding: 2px;
    float: left;

}

table td.cmt {
    width: 310px;
}

table tr {
    border-bottom: 2px solid #fff;
}

#player {
    width: 558px;
    height: 312px;
    border: 1px solid #889;
}
#radio {
    width: 558px;
    height: 146px;
    border: 1px solid #889;
}
#hideable-desc {
    margin-top: 7px;
    border: 1px solid #eee;
    padding: 0 5px 0 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.988281);
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(233,235,242,0.99)),to(rgba(255,255,255,0.99)));
    background-image:-moz-linear-gradient(top,rgba(233,235,242,0.99) 0%,rgba(255,255,255,0.99) 100%);
    background-image:-o-linear-gradient(top,rgba(233,235,242,0.99) 0%,rgba(255,255,255,0.99) 100%);
    background-image:-ms-linear-gradient(top,rgba(233,235,242,0.99) 0%,rgba(255,255,255,0.99) 100%);
    overflow: hidden;
}
#hideable-desc p {
    padding: 0;
    margin: 5px;
    color: #444;
    font-size: 12px;
}
#hide-desc {
    color: #888;
    text-align: center;
    margin: 0 auto;
    width: 100px;
    border: 1px solid #eee;
    border-top: 0;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(227,227,227,0.99)),color-stop(0.16,rgba(240,240,240,0.99)),to(rgb(255,255,255)));
    background-image:-moz-linear-gradient(top,rgba(227,227,227,0.99) 0%,rgba(240,240,240,0.99) 16%,rgb(255,255,255) 100%);
    background-image:-o-linear-gradient(top,rgba(227,227,227,0.99) 0%,rgba(240,240,240,0.99) 16%,rgb(255,255,255) 100%);
    background-image:-ms-linear-gradient(top,rgba(227,227,227,0.99) 0%,rgba(240,240,240,0.99) 16%,rgb(255,255,255) 100%);
    cursor: pointer;
}
#comments h4 {
    font-weight: bold;
    color: #556;
    border-bottom: 1px solid #ccc;
}
#comments ul {
    list-style: none;
    padding: 0;
}
ul#comment li {
    padding: 5px 0 2px 10px;
    margin-bottom: 5px;
}
ul#comment li:hover {
    background-color:rgb(219, 227, 255);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul#comment li img{
    display: inline-table;
}
ul#comment li div.comment-content{
    display: inline-table;
    width: 460px;
    vertical-align: top;
    font-size: 12px;
    color: #222;
    padding-left: 10px;
}
ul#comment li div.comment-action{
    display: inline-table;
    width: 30px;
    vertical-align: top;
    font-size: 12px;
    color: #222;
}
a.delete-button {
    float: right;
    visibility: none;
}
ul#comment li .date {
    font-size: 11px;
    font-style: italic;
    color: #777;
}
.sidebar-content ul li:hover {
    background-color:rgb(219, 227, 255);
}
.tab_left {
    float: left;
    vertical-align: top;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
.comment-textarea {
    float: left;
    width: 400px;
}
.comment-button {
    width: 60px;
    height: 41px;
}
.ads {
    font-size: 10px;
    position: fixed;
}
.ads h2 {
    /*    border-bottom: 1px solid #88a;*/
    color: #889;
    font-size: 14px;
}
.ads h4 {
    color: #335;
    font-weight: bold;
    font-size: 11px;
    margin: 5px 0 3px 0;
}
.ads ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ads ul li {
    /*    border-bottom: 1px solid #779;*/
    margin-bottom: 10px;
}
.ads ul li p {
    color: #223;
    margin: 5px 0;
    padding: 0;
}
.sidebar-content section {
    padding-bottom: 20px;
}
#profile .sidebar-content section {
    padding-bottom: 0;
}
.sidebar-content section p {
    margin: 10px 10px;
    color: #335;
    font-size: 12px;
}

div.blank-table {
    margin: 10px;
}
div.blank-table .row {
    border-top: 1px solid #ddf;
}
div.blank-table .row .head{
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    color: #888;
    font-size: 11px;
    font-weight: bold;
}
div.blank-table .row .head.short{
    min-width: 40px;
    width: 40px;
}
div.blank-table .row .head.medium{
    min-width: 80px;
    width: 80px;
}
div.blank-table .row .data{
    display: inline-block;
    padding: 5px;
    color: #444;
    font-size: 11px;
    min-width: 210px;
    width: 210px;
}
div.blank-table .row .data.short{
    min-width: 140px;
    width: 140px;
}
div.blank-table .row .data.medium{
    min-width: 260px;
    width: 260px;
}
div.blank-table .row .data.long{
    min-width: 300px;
    width: 300px;
}
div.blank-table .row .option-button {
    display: inline-block;
    padding: 5px;
    color: #444;
    font-size: 11px;
    min-width: 60px;
    width: 60px;
    text-align: right;
}
blockquote .option-button {
    display: inline-block;
    padding: 5px;
    color: #444;
    font-size: 11px;
    min-width: 60px;
    width: 60px;
    text-align: right;
    float: right;
}
div.blank-table .row a sub, 
blockquote .option-button a sub {
    color: #88a;
    text-align: right;
}
#foto-profil {
    padding: 5px 10px 0 5px;
}
.topbar-section {
    margin-bottom: 10px;
    background: #fff;
    /*
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(247,253,255,0.99)),to(rgba(195,219,230,0.99)));
    background-image:-moz-linear-gradient(top,rgba(247,253,255,0.99) 0%,rgba(195,219,230,0.99) 100%);
    background-image:-o-linear-gradient(top,rgba(247,253,255,0.99) 0%,rgba(195,219,230,0.99) 100%);
    background-image:-ms-linear-gradient(top,rgba(247,253,255,0.99) 0%,rgba(195,219,230,0.99) 100%);
    */
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.topbar-content {
    margin-bottom: 10px;
    min-height: 150px;
}
.topbar-content .data {
    margin: 10px;
}
.topbar-content .data li{
    border-top: 0;
    border-bottom: 1px solid #ddd;
    color: #667;
}
#friends-mozaic {
    margin-left: 0;
    height: 150px;
}
#friends-mozaic ul{
    padding: 5px 3px 0 5px;
}
#friends-mozaic li{
    list-style: none;
    float: left;
    width: 52px;
    height: 53px;
}
#friends-mozaic img{
    padding: 0;
    margin: 0;
    width: 54px;
}
#friends-mozaic span.total{
    display: inline-block;
    width: 135px;
    text-align: left;
    padding: 23px 0 0 5px;
    color: #668;
}
#friends-mozaic a.see-all{
    display: inline-block;
    width: 70px;
    text-align: right;
    padding: 23px 5px 0 0;
}
ul#timeline {
    margin-top: 30px;
}
ul#timeline li {
    border: none;
}
ul#timeline li a{
    border-left: 5px solid rgba(99,122,173,1);
    padding: 5px;
    margin: 0;
    color: rgba(99,122,173,1);
    font-size: 13px;
    font-weight: bold;
}
ul#timeline li a.current {
    border: none;
    border-left: 5px solid rgba(0,67,130,0.99);
    color: rgba(0,67,130,0.99);
}
ul#timeline li a:hover {
    border: none;
    border-left: 5px solid rgba(0,67,130,0.99);
    color: rgba(0,67,130,0.99);
    text-decoration: none;
}
.list-with-icon {
    margin: 5px;
    padding: 0;
    list-style: none;
}
.list-with-icon li {
    padding: 3px 0 3px 5px;
    border-top: 1px solid #ddd;
    color: #446;
}
.list-with-icon li.first {
    border-top: none;
}

/* icons */
.icon1 {
    background: url('../icons.png') no-repeat 0 0;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 5px;
}
.icon2 {
    background: url('../icons.png') no-repeat 0 -17px;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 5px;
}
.icon3 {
    background: url('../icons.png') no-repeat 0 -34px;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 5px;
}
.icon4 {
    background: url('../icons.png') no-repeat 0 -51px;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 5px;
}.icon5 {
    background: url('../icons.png') no-repeat 0 -34px;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 5px;
}
.icon14 {
    background: url('../icons.png') no-repeat 0 -223px;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 5px;
}
.icon15 {
    background: url('../images/icons/sound.png') no-repeat;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 5px;
}
.icon16 {
    background: url('../images/icons/note.png') no-repeat;
    width: 17px;
    height: 17px;
    float: left;
    margin-right: 5px;
}
/* end icons */

.activity-form {
    padding: 10px 0 20px 0;
}
#aktivitas, #buzz, #assignment-desc {
    margin: 5px 20px;
    width: 407px;
}
#assignment-title, #buzz-friends, #title-mail{
    margin: 0 20px 5px 20px;
    width: 407px;
}
#assignment-date {
    margin: 0 20px 5px 20px;
    width: 100px;
}
#assignment-file {
    margin: 5px 20px 5px 20px;
    width: 400px;
}
.postbutton, .cancelbutton {
    font: bold 12px Arial, Sans-serif;
    padding: 3px 15px;
    color: #557;
    baborder: none;
    ckground: #fff;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(rgba(235,235,235,0.99)));
    background-image:-moz-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    background-image:-o-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    background-image:-ms-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    -webkit-box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    -moz-box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    bottom: 15px;
    right: 20px;
    min-width: 80px;
    min-height: 23px;
    border:1px solid #888;
    padding:2px 6px 3px 6px;
    position: absolute;
}
.button {
    font: bold 12px Arial, Sans-serif;
    padding: 3px 15px;
    color: #557;
    border:1px solid #888;
    baborder: none;
    ckground: #fff;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(rgba(235,235,235,0.99)));
    background-image:-moz-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    background-image:-o-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    background-image:-ms-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    -webkit-box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    -moz-box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    min-width: 80px;
    min-height: 23px;
    padding:3px 3px 3px 4px;
}
.comment-button{
    font: bold 12px Arial, Sans-serif;
    padding: 3px 15px;
    color: #557;
    border:1px solid #888;
    baborder: none;
    ckground: #fff;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(rgba(235,235,235,0.99)));
    background-image:-moz-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    background-image:-o-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    background-image:-ms-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    -webkit-box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    -moz-box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    min-width: 80px;
    float: right;
    height: 25px;
    padding:3px 3px 3px 3px;
    margin:9px 7px 7px 0px;
}
.status-content {
    background-color:rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    min-height: 100px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.status-content ul {
    list-style: none;
    padding: 0;
}
.status-content ul li.separator {
    height: 10px;
    width: 10px;
}
.status-content ul li.post {
    margin: 10px 10px 0 10px;
}
.status-content ul li.post .userphoto {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px; 
}
.status-content ul li.post .arrow {
    display: inline-block;
    width: 10px;
    height:50px;
    position: relative;
    vertical-align: top;
}
.status-content ul li.post .arrow img {
    position: absolute;
    top: 0;
    right: -3px;
}
.status-content ul li.post .status-data {
    display: inline-block;
    background: #fff;
    width: 370px;
    min-height:50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}
.status-content ul li.post .status-data.without-photo {
    width: 440px;
}
.status-content ul li.post .status-data p {
    /*    padding: 5px 5px 8px 8px;*/
    margin: 0;
    font-size: 12px;
    color: #334;
}
.status-content ul li.post .status-data span.date {
    font-size: 10px;
    font-style: italic;
    color: #779;
}
.status-content ul li.post .status-data p.links {
    background:  #eef;
    color: #447;
    padding: 5px 5px 5px 8px;
}
.status-content ul li.post .status-action {
    position: absolute;
    top: 15px;
    right: 20px;
}
.link-left {
    display: inline-block;
    width: 180px;
    text-align: left;
}
.link-leftbook {
    display: inline-block;
    width: 210px;
    text-align: left;
    text-decoration: none;
}
.link-right {
    display: inline-block;
    width: 170px;
    text-align: right;
}
.link-rightbook {
    display: inline-block;
    width: 209px;
    text-align: right;
}
.link-right.without-photo {
    width: 240px;
}
.status-content ul li.comment {
    margin: 2px 0 0 0;
    background: #eef;
    width: 370px;
    position: relative;
}
.status-content ul li.comment.without-photo {
    width: 440px;
}
.status-content ul li.comment .commentator-photo {
    display: inline-block;
    width: 30px;
    vertical-align: top;
    padding: 8px 0 0 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.status-content ul li.comment .comment-data {
    display: inline-block;
    width: 310px;
    background: transparent;
    min-height:50px;
    border-radius: 5px;
}
.status-content ul li.comment .comment-data p {
    padding: 5px 10px 8px 5px;
    margin: 0;
    font-size: 12px;
    color: #334;
}
.status-content ul li.comment .comment-data span.date {
    font-size: 10px;
    font-style: italic;
    color: #779;
}
.status-content ul li.comment .delete-comment {
    position: absolute;
    top: 5px;
    right: 5px;
}

.book-data, .book-desc {
    display: inline-block;
    vertical-align: top;
}
.book-desc{
    display: inline-block;
    vertical-align: top;
    color: #446;
    width: 220px;
}
.book-desc.without-photo{
    width: 290px;
}
.comment-post {
    margin: 5px 5px 0 5px;
    width: 345px;
    height: 30px;
}
.comment-post.without-photo {
    width: 415px;
}
.send-comment {
    margin: 2px 0 5px 295px;	
}
.send-comment.without-photo {
    margin: 2px 0 5px 365px;	
}
.fake-comment {
    margin: 3px;
    width: 350px;
}
.fake-comment.without-photo {
    width: 420px;
}
.group-small-desc {
    width: 290px;
}
#friend-widget ul {

}
#friend-widget ul li {
    width: 155px;
    border: none;
    display: inline-table;
    margin: 0 0 0 10px;
    padding: 0;
}
#friend-widget ul li img{
    display: inline-block;
}
#friend-widget ul li .friend-widget-data{
    width: 110px;
    display: inline-block;
}
#user-detail h2, #group-detail h2 {
    font-size: 18px;
    color: #778;
    margin: 15px 10px;
}
#user-detail p, #group-detail p {
    font-size: 14px;
    padding: 0;
    margin: 3px;
}
#user-detail a, #group-detail a {
    text-decoration: none;
}
.big-button {
    padding: 5px 20px;
    background: #aab;
    background: #fff;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    float: right;
    min-width: 30px;
    text-align: center;
    margin: 10px 5px;
    font-weight: bold;
    color: #556;
    font-size: 13px;
}
.blue {
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgb(255,255,255)),color-stop(0.31,rgba(179,212,255,0.99)),color-stop(0.99,rgba(92,149,224,0.99)));
    background-image:-moz-linear-gradient(top,rgb(255,255,255) 0%,rgba(179,212,255,0.99) 31%,rgba(92,149,224,0.99) 99%);
    background-image:-o-linear-gradient(top,rgb(255,255,255) 0%,rgba(179,212,255,0.99) 31%,rgba(92,149,224,0.99) 99%);
    background-image:-ms-linear-gradient(top,rgb(255,255,255) 0%,rgba(179,212,255,0.99) 31%,rgba(92,149,224,0.99) 99%);
}
.green {
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgb(255,255,255)),color-stop(0.07,rgba(233,255,212,0.99)),color-stop(0.99,rgba(134,212,61,0.99)));
    background-image:-moz-linear-gradient(top,rgb(255,255,255) 0%,rgba(233,255,212,0.99) 7%,rgba(134,212,61,0.99) 99%);
    background-image:-o-linear-gradient(top,rgb(255,255,255) 0%,rgba(233,255,212,0.99) 7%,rgba(134,212,61,0.99) 99%);
    background-image:-ms-linear-gradient(top,rgb(255,255,255) 0%,rgba(233,255,212,0.99) 7%,rgba(134,212,61,0.99) 99%);
}
.red {
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(rgb(255,255,255)),color-stop(0.49,rgba(255,186,140,0.99)),color-stop(0.99,rgba(235,137,73,0.99)));
    background-image:-moz-linear-gradient(top,rgb(255,255,255) 0%,rgba(255,186,140,0.99) 49%,rgba(235,137,73,0.99) 99%);
    background-image:-o-linear-gradient(top,rgb(255,255,255) 0%,rgba(255,186,140,0.99) 49%,rgba(235,137,73,0.99) 99%);
    background-image:-ms-linear-gradient(top,rgb(255,255,255) 0%,rgba(255,186,140,0.99) 49%,rgba(235,137,73,0.99) 99%);
}
#album {
    padding: 10px 0;
}
#album h2{
    margin: 15px;
    color: #557;
}
#album a{
    display: inline-table;
    margin: 15px 0 5px 15px;
    padding: 0;
}#album a span.desc{
    width: 60px;
    color: #446;
}
#album img {
    -webkit-box-shadow:rgba(31, 31, 31, 0.789062) 0px 0px 5px 1px;
    -moz-box-shadow:rgba(31, 31, 31, 0.789062) 0px 0px 5px 1px;
    box-shadow:rgba(31, 31, 31, 0.789062) 0px 0px 5px 1px;
}
#moreBtn:active {
    background:url("../images/backgrounds-sprite.png") 0 -370px repeat-x;
    -webkit-box-shadow:0 1px 0 rgba(255,255,255,.8);
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8);
    box-shadow:0 1px 0 rgba(255,255,255,.8);
    padding-top:11px;
    padding-bottom:9px
}
#moreBtn:hover {
    background:url("../images/backgrounds-sprite.png") 0 -310px repeat-x;
}
#moreBtn {
    float: left;
    font-weight:600;
    text-align:center;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    border: 1px solid #b0281a;
    color:#585c60;
    background:url("../images/backgrounds-sprite.png") 0 -250px repeat-x;
    border:1px solid #acb2b8;
    text-shadow:0 1px 0 rgba(255,255,255,.9);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,.4),inset -1px 0 0 rgba(255,255,255,.4),0 1px 2px rgba(72,76,80,.25);
    -moz-box-shadow:0 1px 2px rgba(72,76,80,.25);
    box-shadow:0 1px 2px rgba(72,76,80,.25);
    cursor: pointer;
    width: 95%;
}

blockquote {
    margin: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #676767;
}
blockquote span {
    margin-left: 30px; 
    font-size: 11px;
    color: #779;
}
#edit-aboutme-form textarea#data {
    width:305px;
    min-width: 305px;
    max-width: 305px;
    min-height: 100px;
    margin-bottom:30px;
}
a.editinfo, a.deleteinfo {
    text-decoration: none;
    display: none;
}

/* BLOG */
button#add-blog {
    float: right;
    position: absolute;
    right: 22px;
}
.simple_overlay {
    display: none;
    position: relative;
    width:750px;
    border:8px solid #eee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto 10px auto;

}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(../../close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.white-form{
    padding: 15px;
}
.white-form label{
    display: block;
    min-width: 200px;
    font-size: 14px;
    margin: 5px 0;
    padding: 3px 0;
}
.white-form label.spanright{
    float: right;
}
.full-spanning{
    display: inline-block;
    min-width: 500px;
    padding: 0 10px;
}
.tigaperempat-spanning{
    display: inline-block;
    min-width: 300px;
    padding: 0 10px;
}
.half-spanning{
    display: inline-block;
    min-width: 220px;
    padding: 0 10px;
}
.seperempat-spanning{
    display: inline-block;
    min-width: 80px;
    max-width: 140px;
    padding: 0 10px;
}
.no-post {
    margin: 5px 0 0 10px;
}
.draft{
    color: red;
    font-style: italic;
}
.published{
    color: #223;
    font-style: italic;
}
.main-section h4 {
    margin: 10px 0 5px 20px;
}
.main-section h4 a {
    color: #99a;
}
.main-section h4 a.current {
    color: #668;
}
.option small a {
    color: #668;
    float: right;
}

/* detail note */
.content-detail {
    display: table-cell;
    width:460px;
    float: left;
}
.option-detail {
    float: right;
    display: table-cell;
    width: 290px;
    background: #fff;
    border-left: 1px solid #ddd;
    padding: 10px;
}
.jeda {
    margin-right: 0;
    margin-left: 10px;
}
.option-detail ul {
    padding: 0;
    margin: 10px 0 0 0;
}
.option-detail ul li.comment {
    margin: 2px 0 0 0;
    background: #eef;
    width: 295px;
    position: relative;
    list-style: none;
}
.option-detail ul li.comment.without-photo {
    width: 400px;
}
.option-detail ul li.comment .commentator-photo {
    display: inline-block;
    width: 30px;
    vertical-align: top;
    padding: 8px 0 0 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.option-detail ul li.comment .comment-data {
    display: inline-block;
    width: 250px;
    background: transparent;
    min-height:50px;
    border-radius: 5px;
}
.option-detail ul li.comment .comment-data p {
    padding: 5px 10px 8px 5px;
    margin: 0;
    font-size: 12px;
    color: #334;
}
.option-detail ul li.comment .comment-data span.date {
    font-size: 10px;
    font-style: italic;
    color: #779;
}
.option-detail ul li.comment .delete-comment {
    position: absolute;
    top: 5px;
    right: 5px;
}
.option-detail sup {
    font-size: 8px;
}

/* form element width */
.short {
    width: 80px;
    margin-bottom: 5px;
}
.medium {
    width: 200px;
    margin-bottom: 5px;
}
.long {
    width: 300px;
    margin-bottom: 5px;
}
select.short {
    width: 83px;
}
select.medium {
    width: 183px;
}
select.long {
    width: 313px;
}

ul.no-border li {
    border: none;
    padding-top: 0;
}
ul.tree li {
    margin: 2px 0;
}
ul.tree li:hover {
    background: #eee;
    cursor: pointer;
}
ul.tree li ul li {
    margin: 2px 0 2px 10px;
}
ul.tree li ul li:hover {
    background: #dadada;
}

input[type=checkbox]{
    margin-bottom: 3px;
    width: 20px;
}
hr {
    margin: 3px 0;
    padding: 0;
}

.white-button{
    font: bold 12px Arial, Sans-serif;
    padding: 3px 15px;
    color: #557;
    baborder: none;
    ckground: #fff;
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(rgba(235,235,235,0.99)));
    background-image:-moz-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    background-image:-o-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    background-image:-ms-linear-gradient(top,#fff 0%,rgba(235,235,235,0.99) 100%);
    -webkit-box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    -moz-box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    box-shadow:rgb(136, 136, 153) 0px 0px 1px 0px;
    bottom: 15px;
    right: 20px;
    min-width: 80px;
    min-height: 23px;
    border:1px solid #888;
    padding:3px 3px 3px 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

/*Manage Document*/
.header-left-manage{
    background-color:rgb(247, 248, 250);
    height:23px;
    text-align:left;
    font-size:15px;
    font-family:"Lucida Grande",sans-serif;
    line-height:23px;
    border-top:1px solid rgb(211, 218, 232);
    border-bottom:1px solid rgb(211, 218, 232);
    padding:0px 0px 0px 7px;
}